# Core dependencies
Flask==2.2.3
pyserial==3.5
numpy>=1.22.0
opencv-python>=4.5.4.60
mediapipe>=0.8.9
requests==2.28.2

# Web interface dependencies
Flask-SocketIO
python-socketio
python-engineio
gevent
gevent-websocket
eventlet

# Telegram Bot API
pyTelegramBotAPI==4.12.0

# For date manipulation
python-dateutil==2.8.2 